<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动画002</title>
    <script src="../../dist/jquery.min.js"></script>
</head>
<body>
    <button id="b1">开始动画</button>
    <button id="b2">停止动画</button>
    <div id="d1" style="background: yellow;height:100px;width:100px;position: absolute"></div>

</body>
<script type="application/javascript">
    $(function () {
        var ref = "";
        $('#b1').click(function () {
            ref = setInterval(function () {
                $('#d1').animate({height:'300px',opacity:'0.4'},'slow');
                $('#d1').animate({width:'300px',opacity:'0.8'},'slow');
                $('#d1').animate({height:'100px',opacity:'0.4'},'slow');
                $('#d1').animate({width:'100px',opacity:'0.8'},'slow');
            },2000)
        })

        $('#b2').click(function () {
            clearInterval(ref);
        })
    })
</script>
</html>